* { margin: 0; padding: 0; }

html, body, #root, #app { height: 100%; }

body {
  background: #101010;
  color: white;
  font-family: Helvetica Neue, Helvetica;
  font-style: normal;
  font-weight: 400;
  background-position: 0px -30vh;
background-repeat: no-repeat;
background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
}

body:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/lines.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  z-index: -1;
}
