* { margin: 0; padding: 0; }

html, body, #root, #app { height: 100%; }

body {
  background: #101010;
  color: white;
  font-family: Helvetica Neue, Helvetica;
  font-style: normal;
  font-weight: 400;
  background-position: 0px -30vh;
background-repeat: no-repeat;
background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
}
